/*
Theme Name: Highwind Child
Template: highwind
Theme URI: http://jameskoster.co.uk/highwind/
Description: Highwind is a lightweight, free WordPress theme designed to showcase content. It features a clean, responsive design with a strong focus on typography, plus a bunch of presentational options and widgetised regions allowing you to give your site a unique touch. <a href="https://github.com/jameskoster/highwind/wiki">View Documentation</a>.
Author: jameskoster
Author URI: http://jameskoster.co.uk
Version: 1.2.7
Tags: white, two-columns, left-sidebar, right-sidebar, sticky-post, threaded-comments, translation-ready, custom-background, custom-colors, custom-header, custom-menu, featured-images, full-width-template, theme-options, light

License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
FontAwesome License: SIL Open Font License - http://scripts.sil.org/OFL
Modular Scale: http://modularscale.com/scale/?px1=16&px2=18&ra1=1.333&ra2=0

Highwind WordPress Theme, Copyright 2013 jameskoster.co.uk
Highwind is distributed under the terms of the GNU GPL
*/
